
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAIVn5BP-So-O6byCMDGMjueD5F5o5Rl7U
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=attendance-system-93513.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=attendance-system-93513
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=attendance-system-93513.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=63116454206
NEXT_PUBLIC_FIREBASE_APP_ID=1:63116454206:web:42d08707a39bb4453ca46f
console.log(process.env.NEXT_PUBLIC_FIREBASE_API_KEY)